<div class="container ">
  <br>
  <h2 class="text-center"> <u> INTERFACE ADMINISTRATEUR</u></h2><br>
  <h4>Bonjour, {{admin.prenom}} {{admin.nom|uppercase}}!<br><br>
    Vous avez la possibilité d'apporter des modifications sur la base de données utilisateurs et/ou produits.<br>
    Que souhaitez-vous faire aujourd'hui?</h4>

  <hr>
  <div class="container">
    <ol>
      <h3>
        <li>
          Les utilisateurs du site:
        </li>
      </h3>
      <button (click)="OnModif1()" class="btn btn-info">Liste des utilisateurs</button>
      <button (click)="OnModif2()" class="btn btn-danger">Supprimer un utilisateur</button>
      <hr>
      <h3>
        <li>
          Les produits en vente:
        </li>
      </h3>
    </ol>
    <button (click)="OnModif3()" class="btn btn-success">Enregistrer un nouveau produit</button>
    <button (click)="OnModif4()" class="btn btn-warning">Modifier un produit</button>
    <button (click)="OnModif5()" class="btn btn-secondary">Supprimer un produit</button>

    <hr>
    <hr>

    <div *ngIf="findusers">
      <app-findallusers></app-findallusers>
    </div>
    <div *ngIf="deleteuser">
      <app-deleteuser></app-deleteuser>
    </div>


    <div *ngIf="createarticle">
      <app-createarticle></app-createarticle>
    </div>
    <div *ngIf="updatearticle">
      <app-updatearticle></app-updatearticle>
    </div>
    <div *ngIf="delarticles">
      <app-deloreditarticles></app-deloreditarticles>
    </div><br>
    <hr>
    <h4>En cliquant sur l'un de ces boutons, vous serez redirigé.e sur l'une des pages vous permettant de satisfaire
      votre requête.</h4>
  </div>
</div>