<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <!-- <div class="row d-flex justify-content-center align-items-center h-100"> -->
        <!-- <div class="col-lg-12 col-xl-11"> -->
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">BON DE COMMANDE</p>
                <h5 class="text-center text-success">
                    <u>Client.e: </u> <strong>Mr/Mme {{client}}</strong>
                </h5>
                <hr>

                <div class="row justify-content-center">

                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">


                        <table class="table  table-responsive table-hover text-center">
                            <thead class="table-dark">
                                <td>
                                    <h5>Quantité</h5>
                                </td>
                                <td>
                                    <h5>Description</h5>
                                </td>
                                <td>
                                    <h5>Marque</h5>
                                </td>
                                <td>
                                    <h5>P.Unitaire</h5>
                                </td>
                                <td>
                                    <h5>P.Total</h5>
                                </td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of MyList">
                                    <td>
                                        {{item.quantite}}
                                    </td>

                                    <td>
                                        {{item.article.description}}
                                    </td>

                                    <td>
                                        {{item.article.marque}}
                                    </td>

                                    <td>
                                        {{item.article.prix}}
                                    </td>

                                    <td>
                                        {{(item.article.prix * item.quantite).toFixed(2)}}
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot style="background-color: rgb(251,204,204);">
                                <tr>
                                    <td>Total à payer:</td>
                                    <td> <strong>{{total}}€</strong> </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class=" text-center"><button type="button" class="btn btn-outline-info"
                                (click)="deconnex()" routerLink="/home">OK, je me
                                déconnecte.</button></div><br>
                        <div class="object-position: center">
                            <img src="/assets/images/merci2.PNG" class="img-fluid rounded w-100" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>