<div class="px-5 ms-xl-4">
    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
    <span class="h1 fw-bold mb-0 text-center">Mise à jour d'un article</span>
</div>
<br>


    <div class="container-fluid">

        <div class="row">
          <h4>Saisir l'identifiant de l'article que vous souhaitez modifier.</h4><br>

          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="art.id"  >
          </div>
          <div class="pt-2 mb-3 text-center">
            <button class="btn btn-success btn-lg btn-block" type="button" (click)="find(art.id)"
                style="object-position: center;">Valider</button>

          </div>
          <hr>
            <div class="col-sm-6 text-black">



                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                  <div class="pt-2 mb-3" *ngIf="valide">

                    <div class="alert alert-success">
                        <strong>{{message}}</strong>
                    </div>
                </div>
                    <div class="container">
                        <form style="width: 23rem;">

                          <h6>ID: </h6>
                            <div class="">
                                <input type="number" name="login" [(ngModel)]="article.id"
                                    class="form-control form-control-lg" readonly />
                            </div>

                            <h6>MARQUE: </h6>
                            <div class=" ">
                                <input type="text" name="marque" [(ngModel)]="article.marque"
                                    class="form-control form-control-lg" />
                            </div>

                            <h6>PRIX:</h6>
                            <div class=" ">
                                <input type="number" name="prix" [(ngModel)]="article.prix"
                                    class="form-control form-control-lg" />
                            </div>

                            <h6>DESCRIPTION:</h6>
                            <div class="">
                                <input type="text" name="description" [(ngModel)]="article.description"
                                    class="form-control form-control-lg" />
                            </div>


                            <div class="">
                              <h6>URL IMAGE: </h6>
                                <input type="text" name="url" [(ngModel)]="article.url"
                                    class="form-control form-control-lg" />
                            </div>

                            <h6>STOCK: </h6>
                            <div class="">
                                <input type="number" name="stock" [(ngModel)]="article.stock"
                                    class="form-control form-control-lg" />
                            </div>

                            <div class="">
                                <input type="hidden" name="version" [(ngModel)]="article.version"
                                    class="form-control form-control-lg" />
                            </div>

                            <div class="pt-2 mb-3">
                                <button class="btn btn-info btn-lg btn-block" type="button" (click)="update()"
                                    style="object-position: center;">MODIFIER</button>

                            </div>


                        </form>

                    </div>

                </div>

            </div>
            <div class="col-sm-4  px-0 d-none d-sm-block">
                <img src="{{article.url}}" alt="Login image" class="rounded w-30 vh-30"
                    style="object-position: left;">

            </div>
        </div>
    </div>
