<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>


<html lang="en">

<head>
  <title>Mam'Mam</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>


  <div class="p-5 text-center position-relative" style="background-color: white;">

    <!-- LE LOGO -->
    <div class="position-absolute top-50 start-0 translate-middle-y">
      <a routerLink="home">
        <img src="/assets/images/logo4.PNG" class="img-fluid rounded w-50" />
      </a>
    </div>

    <!-- LA BARRE DE RECHERCHE -->
    <div class="position-absolute top-50 start-50 translate-middle w-50">
      <!-- <div class="search-container w-50" style="object-position: center;"> -->
      <form class="d-flex">
        <input id="s1" class="form-control me-2" type="text" placeholder="Saisir un produit ou une marque..." [(ngModel)]='str' [ngModelOptions]="{standalone: true}">
        <button id="s1" class="btn btn-outline-dark" type="button" routerLink="/findbystring" (click)='search()'>Chercher</button>

      </form>
      <a routerLink="/contact">
        <img src="/assets/images/contact3.jpg" class="img-fluid rounded w-25" />
      </a>
      <a routerLink="/addtocart">
        <img src="/assets/images/cart3.jpg" class="img-fluid rounded w-25" />
      </a>
      <a routerLink="/compte" *ngIf="isAuth ==true">
        <img src="/assets/images/compte3.jpg" class="img-fluid rounded w-25" />
      </a>
      <a routerLink="/login" *ngIf="isAuth ==false">
        <img src="/assets/images/compte3.jpg" class="img-fluid rounded w-25" />
      </a>
    </div>
    >

    <!--
    CONTACT / COMPTE / PANIER-->

    <div class="position-absolute top-50 start-100 translate-middle w-25">
      <!-- <div class="column">
        <div class="row">
          <img src="/assets/images/compte2.jpg" class="img-fluid rounded w-25" href="\login">
        </div>
        <div class="row">
          <img src="/assets/images/contact2.jpg" class="img-fluid rounded w-25" href="#">
        </div> -->

      <!-- <img src="/assets/images/cart2.jpg" class="img-fluid rounded w-25" href="#"> -->
      <!-- </div> -->

      <!-- </div> -->
    </div>

  </div>
  <nav class="navbar navbar-expand-sm"
    style="background-color: rgb(4,155,155); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link active link-dark" href="/home">Mam'Mam</a>
        </li> -->
        <li class="nav-item">
          <h4> <a class="nav-link link-dark" routerLink="/home">Accueil|</a></h4>
        </li>
        <li class="nav-item">
          <h4> <a class="nav-link link-dark" routerLink="/findallarticles">Tous nos produits|</a></h4>
        </li>
        <li class="nav-item" *ngIf="isAuth==false">
        <h4><a class="nav-link link-dark"  routerLink="login"> Connexion| </a></h4>
        </li>
        <li class="nav-item"  *ngIf="isAuth==false">
          <h4><a class="nav-link link-dark" routerLink="subscribe">Inscription| </a></h4>
          </li>

      </ul>
      <div class="d-flex w-auto" *ngIf="isAuth ==true">
        <button class="info" routerLink="/compte" class="btn btn-outline-black"><strong>{{infoconnexion}}</strong></button>
        <button (click)="deconnex()" routerLink="/findallarticles" class="btn btn-outline-danger">DECONNEXION</button>
      </div>
    </div>
  </nav>
