<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3 row">
                        <div class="col">
                            <h4 class="mb-0">Panier - {{totalquantity}} articles</h4>
                        </div>
                        <div class="col col-md-4">
                            <button type="button" class="btn btn-outline-danger " (click)="clearPanier()"><img
                                    src="/assets/images/trashpink.jpg" class="img-fluid rounded w-50" /></button>
                            <!-- <button class="btn btn-outline-danger" (click)="clearPanier()">Vider le panier</button> -->
                        </div>
                    </div>
                    <div class="card-body" *ngFor="let item of liste; let i = index;">
                        <!-- Single item -->
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                    data-mdb-ripple-color="light">
                                    <img src="{{item.article.url}}" class="w-100" alt="" />
                                    <a href="#!">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </a>
                                </div>
                                <!-- Image -->
                            </div>

                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p><strong>{{item.article.description}}</strong></p>
                                <p>Marque: {{item.article.marque}}</p>
                                <p>Prix unitaire: {{item.article.prix}}</p>
                                <p>Livraison estimée : <strong>Vendredi</strong> 17 juin 2022</p>
                                <div class="text-center">
                                    <!-- <button type="button" class="btn btn-outline-danger "
                                        (click)="supprimer(item,i)"><img src="/assets/images/trashpink.jpg"
                                            class="img-fluid rounded w-50" /></button> -->

                                    <button type="button" class="btn btn-outline-danger"
                                        (click)="supprimer(item,i)" data-mdb-toggle="tooltip" title="Remove item">
                                        <i class="">x</i>
                                    </button>
                                    <!-- <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                                    title="Move to the wish list">
                                    <i class="">Wish List</i>
                                </button> -->
                                    <!-- Data -->
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <div class="d-flex mb-4" style="max-width: 300px">
                                    <button class="btn btn-primary px-3 me-2 " [disabled]="!ispositive"
                                        (click)="moins(i)"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus">-</i>
                                    </button>

                                    <div class="form-outline">
                                        <input id="form1" min="0" name="quantity" value="{{item.quantite}}"
                                            type="number" class="form-control" readonly/>
                                        <label class="form-label" for="form1"></label>
                                    </div>

                                    <button class="btn btn-primary px-3 ms-2" (click)="plus(i)"
                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus">+</i>
                                    </button>
                                </div>
                                <!-- Quantity -->
                               
                                <!-- Price -->
                                <h5 class="text-start text-md-center">
                                    <strong>{{(item.article.prix * item.quantite).toFixed(2)}}€</strong>
                                </h5>
                                <!-- Price -->
                            </div>
                        </div>
                        <!-- Single item -->

                        <hr class="my-4" />


                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p><strong>Livraison à domicile ou retrait dans un point-relais (paiement en ligne)</strong></p>
                        <p class="mb-0">Livraison express/maximum 3h</p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>Nous acceptons</strong></p>
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                            alt="Visa" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                            alt="American Express" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                            alt="Mastercard" />
                        <img class="me-2" width="45px"
                            src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
                            alt="PayPal acceptance mark" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h3 class="mb-0">Récapitulatif de commande</h3>

                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Montant des articles
                                <h5><span>{{totalcoststr}}€</span></h5>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Livraison
                                <span>{{fraisLivraison}}€</span>
                            </li>
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Montant total à payer</strong>
                                    <strong>
                                        <p class="mb-0">(TVA inclus)</p>
                                    </strong>
                                </div>
                                <h4><span><strong>{{mttotal}}€</strong></span></h4>
                            </li>
                        </ul>
                        <br>
                        <div *ngIf="!cartIsValid">

                            <h5 class="mb-0 text-center">Pour finaliser ma commande, <a routerLink="/login"
                                    class="text-success">je me connecte</a>.</h5>


                        </div>
                        <br>
                        <div class="text-center">
                            <button type="button" [disabled]="!cartIsValid"
                                class="btn btn-primary btn-lg btn-block" routerLink="/cart">
                                Valider ma commande
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
