<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Mise à jour de mes informations
                        personnelles</p>
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">



                                <form class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" name="mail" [(ngModel)]="user.mail" id="form3Example3c"
                                                class="form-control" readonly />
                                            <label class="form-label" for="form3Example3c">Votre adresse mail</label>
                                        </div>
                                    </div>

                                    <div class="form-outline">
                                        <input type="hidden" name="nom" [(ngModel)]="user.nom"
                                            class="form-control form-control-lg" />
                                    </div>


                                    <div class="form-outline">
                                        <input type="hidden" name="prenom" [(ngModel)]="user.prenom"
                                            class="form-control form-control-lg" />
                                    </div>

                                    <!-- 
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" name="nom" [(ngModel)]="user.nom"
                                                class="form-control" readonly/>
                                            <label class="form-label" for="form3Example1c">Votre nom</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" name="prenom"
                                                [(ngModel)]="user.prenom" class="form-control" />
                                            <label class="form-label" for="form3Example1c">Votre prénom</label>
                                        </div>
                                    </div> -->


                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" name="text" [(ngModel)]="user.mdp" id="form3Example4c"
                                                class="form-control"
                                                placeholder="Veuillez saisir ici votre nouveau mot de passe" />
                                            <label class="form-label" for="form3Example4c">Nouveau mot de passe</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" name="text" [(ngModel)]="user.mdp" id="form3Example4c"
                                                class="form-control" placeholder="Confirmer votre mot de passe" />
                                            <label class="form-label" for="form3Example4c">Confirmation du mot de passe</label>
                                        </div>
                                    </div>

                                    <div class="form-outline">
                                        <input type="hidden" name="role" [(ngModel)]="user.role"
                                            class="form-control form-control-lg" />
                                    </div>


                                    <div class="form-outline">
                                        <input type="hidden" name="version" [(ngModel)]="user.version"
                                            class="form-control form-control-lg" />
                                    </div>


                                    <!-- BOUTON DE VALIDATION -->
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="button" (click)="updatepass()"
                                            class="btn btn-dark btn-lg">Valider</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">


                                <img src="/assets/images/contact.jpg" class="img-fluid img-rounded" alt="image">



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>